<div class="container mt-4">
  <h2>Category Management</h2>

  <!-- Search Category Form -->
  <form class="mb-4">
    <div class="form-group d-flex align-items-center">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" placeholder="Search category" name="searchTerm" [(ngModel)]="searchTerm" (ngModelChange)="searchCategory(searchTerm)" />
      </div>
    </div>
  </form>

  <!-- Add Category Button -->
  <div class="mb-3">
      <button class="btn btn-success" (click)="addCategory()">New Category</button>
  </div>

    <!-- Category Table -->
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let category of categories; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ category.name }}</td>
              <td>
                  <button class="btn btn-warning btn-sm me-2" (click)="editCategory(category.id)">Edit</button>
                  <button class="btn btn-danger btn-sm ms-2" (click)="deleteCategory(category.id)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

