<div class="container mt-4 d-flex justify-content-center">
  <div class="w-50">
    <h2 class="text-center">Manage Book</h2>
    <form #form="ngForm" (submit)="onSubmit(bookForm)" #bookForm="ngForm">
      <div class="form-group">
        <label for="bookName" class="form-label fw-bold">Book Name:</label>
        <input 
        type="text" 
        id="bookName" 
        class="form-control" 
        name="bookName" 
        [(ngModel)]="book.name" 
        #name="ngModel" 
        required
        minlength="3"
        maxlength="150">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        <small *ngIf="name.errors?.['required']">Name is required.</small>
        <small *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</small>
        <small *ngIf="name.errors?.['maxlength']">Name cannot exceed 150 characters.</small>
        </div>        
      </div>
      <div class="form-group">
        <label for="bookAuthor" class="form-label fw-bold">Author:</label>
        <input 
          type="text" 
          id="bookAuthor" 
          class="form-control" 
          name="bookAuthor" 
          [(ngModel)]="book.author" 
          #author="ngModel" 
          required
          minlength="3"
          maxlength="100">
        <div *ngIf="author.invalid && (author.dirty || author.touched)" class="text-danger">
          <small *ngIf="author.errors?.['required']">Author is required.</small>
          <small *ngIf="author.errors?.['minlength']">Author must be at least 3 characters long.</small>
          <small *ngIf="author.errors?.['maxlength']">Author cannot exceed 100 characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="bookDescription" class="form-label fw-bold">Description:</label>
         <textarea
          type="text" 
          id="bookDescription" 
          class="form-control" 
          name="bookDescription" 
          [(ngModel)]="book.description" 
          #description="ngModel"           
          minlength="3"
          maxlength="150">
         </textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">          
          <small *ngIf="description.errors?.['minlength']">Description must be at least 3 characters long.</small>
          <small *ngIf="description.errors?.['maxlength']">Description cannot exceed 150 characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="bookCategory" class="form-label fw-bold">Category:</label>
        <select class="form-select" id="bookCategory" name="bookCategory" #categoryId="ngModel"  [(ngModel)]="book.categoryId" required>                    
          <option *ngFor="let category of categories" [ngValue]="category.id">
              {{category.name}}
          </option>
        </select>
        <div *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)" class="text-danger">          
            <small *ngIf="categoryId.errors?.['required']">Category is required.</small>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary me-2" [disabled]="bookForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>